

@media screen and (min-width: 1824px) {
  
}
@media screen and (max-width: 1200px) {
    .blockContainer {
        max-width: unset;
        min-width: unset;
        margin: 0px;
    }
    .blockFullMenu {
        display: none;
    }
    .blockFullJoin {
        min-width: 40px;
        margin: 0px 45px 0px 0px;
    }
    .blockFullJoin .textSocial {
        display: none;
    }
    .blockFullJoin .blockJoin {
        width: auto;
        padding: 2.5px;
        border: 3px solid transparent;
    }
    .blockFullJoin .imgSocial {
        margin: 0px;
    }
    .blockButtonMenuMobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .blockHero .titleText {
        font-size: 2.5rem;
    }
    .blockHero .lineText {
        width: 400px;
    }
    .blockHero .listFeatures {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .blockHero .blockHeroImage {
        display: none;
    }
    .blockHero {
        padding: 110px 0px;
    }
    .blockPartner {
        padding: 40px 15px 20px 15px;
    }
    .blockPartner .blockListPartner {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .blockPartner .partnerItem {
        width: calc(100% / 3 - 70px);
        margin: 0px 0px 35px 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .blockPartner .titleText {
        text-align: center;
        line-height: 24px;
    }
    .blockContentLeft {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .blockContentLeft .blockContent {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 65px 0px 0px 0px;
        width: calc(100% - 300px);
    }
    .blockContentAll .contentTitle {
        text-align: center;
    }
    .blockContentAll .contentText {
        text-align: center;
    }
    .blockContentAll .titleText {
        font-size: 2.5rem;
    }
    .blockContentRight {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .blockContentRight .blockContent {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 65px 0px 0px 0px;
        width: calc(100% - 300px);
    }
    .blockRoadmap {
        padding: 100px 0px 0px 0px;
    }
    .blockFooter .blockFooterWrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .blockFooter .blockInfoCompany {
        margin: 0px 0px 75px 0px;
    }
    .blockFooter .blockMenuFooter {
        width: calc(100% - 200px);
    }
    .blockFooterSocial {
        padding: 20px 15px 80px 15px;
    }
    .blockContentLeft .blockImage {
        -webkit-transform: scale(0.85);
            -ms-transform: scale(0.85);
                transform: scale(0.85);
    } 
    .blockContentRight .blockImage {
        -webkit-transform: scale(0.85);
            -ms-transform: scale(0.85);
                transform: scale(0.85);
    } 
}
@media screen and (orientation:landscape) and (width: 1024px) {
   
}
@media screen and (max-width: 992px) {
    .blockFullJoin {
        position: absolute;
        right: 20px;
        min-width: 40px;
        margin: 0px;
    }
    .blockFullLogo .blockBrand {
        display: none;
    }
    .blockFullLogo {
        width: 100%;
    }
    .blockFullLogo .imgLogo {
        height: 40px;
    }
    .blockButtonMenuMobile {
        left : 20px;
        right: unset;
    }
}
@media screen and (orientation:landscape) and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
    .blockHero .blockHeroDirect {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .blockHero .buttonDirect {
        margin: 0px 10px 20px 10px;
    }
    .blockPartner .partnerItem {
        width: calc(100% / 3 - 50px);
    }
    .blockContentLeft .blockContent {
        width: calc(100% - 100px);
    }
    .blockContentRight .blockContent {
        width: calc(100% - 100px);
    }
    .blockFooter .listMenu {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .blockFooter .listMenu  .listMenuItem {
        width: calc(100% / 2 - 50px);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0px 0px 70px 0px;
    }
    .blockFooter .titleMenu {
        margin: 0px 0px 15px 0px;
    }
    .blockFooter {
        padding: 80px 0px 25px 0px;
    }
    .blockFooter .blockInfoCompany {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .blockFooterSocial {
        padding: 20px 15px;
    }
    .blockFooter .nameText {
        text-align: center;
    }
    .blockFooter .infoLogo {
        width: 100%;
    }
    .blockFooter .blockMenuFooter {
        width: calc(100% - 50px);
    }
    .blockContentLeft .mainImage .imgContent {
        -webkit-transform: scale(0.85);
            -ms-transform: scale(0.85);
                transform: scale(0.85);
    }
    .blockContentLeft .mainImage div img {
        width: 80%;
    }
    .blockContentRight .mainImage .imgContent {
        -webkit-transform: scale(0.85);
            -ms-transform: scale(0.85);
                transform: scale(0.85);
    }
    .blockContentRight .mainImage div img {
        width: 80%;
    }
    .blockFeatures .blockFeaturesGlobal {
        left: 160px !important;
    }
    .blockFeatures .blockFeaturesGrowth {
        top : 100px !important;
        right: -100px;
    }
}
@media screen and (max-width: 640px) {
    .blockHero .titleText {
        font-size: 1.8rem;
        line-height: 40px;
    }
    .blockHero .lineText {
        width: 300px;
        bottom: -2.5px;
    }
    .blockPartner .partnerItem {
        width: calc(100% / 2 - 25px);
    }
    .blockContentAll .mainImage div {
        display: none !important;
    }
    .blockContentAll .blockImage {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        width: 70%;
    }
    .blockFooter .listMenu .listMenuItem {
        width: 100%;
    }
    .blockFooter .blockInfoCompany {
        width: 100%;
        padding: 0px 15px;
    }
    .blockContentLeft .blockContent {
        width: calc(100% - 15px);
    }
    .blockContentAll .titleText {
        font-size: 1.6rem;
    }
    .blockContentAll .contentText {
        font-size: 1rem;
    }
}
@media screen and (orientation:landscape) and (max-width: 568px) {
    
}   
@media screen and (max-width: 479px) {
   
}   
@media screen and (max-width: 374px) {
   
}
