@media screen and (min-width: 1824px) {
  
}
@media screen and (max-width: 1200px) {
    .blockContainer {
        max-width: unset;
        min-width: unset;
        margin: 0px;
    }
}
@media screen and (orientation:landscape) and (width: 1024px) {
   
}
@media screen and (max-width: 992px) {
    
}
@media screen and (orientation:landscape) and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
  
}
@media screen and (max-width: 640px) {
   
}
@media screen and (orientation:landscape) and (max-width: 568px) {
    
}   
@media screen and (max-width: 479px) {
   
}   
@media screen and (max-width: 374px) {
   
}
